<a href="/project-summary?project_id=<%= @project.project.id %>&version_id=<%= @project.id %>">Back to Project Summary</a>
<h2>Costcode Breakdown</h2>
<h3><%= @project.project.title %> (<%= @project.version_name %>)
<a href="/download?report=user_<%= session[:user_id ].to_s + '_' + @project.project.title %>_<%= @project.version_name %>_costcode_report.csv" style="color: #322B6A;"><i class="fas fa-cloud-download-alt"></i></a>
</h3>
<a href="http://pdf-ace.com/pdfme?print_media=1" target="_blank">Save as PDF</a>
<div class="table">
  <div class="table-row header-row">
    <div class="table-cell" style="width: 15px;">
      <i class="far fa-plus-square" id="expand-all" onclick="expandAll()"></i>
      <i class="far fa-minus-square" id="collapse-all" onclick="collapseAll()" style="display: none;"></i>
    </div>
    <div class="table-cell" style="width: 85px;">
      Costcode
    </div>
    <div class="table-cell" style="min-width: 280px;">
      Description
    </div>
    <div class="table-cell" style="width: 125px;">
      Unit Cost
    </div>
    <div class="table-cell" style="width: 125px;">
      Qty
    </div>
    <div class="table-cell" style="width: 125px;">
      Total Cost
    </div>
    <div class="table-cell" style="width: 125px;">
      With Markup
    </div>
  </div>
<% @materials.materials.costcodes.all.each do |cc| %>
  <div class="table-row">
    <div class="table-cell grey-cell">
      <i class="far fa-plus-square" id="expand <%= cc[:code] %>" onclick="expand('<%= cc[:code] %>')"></i>
      <i class="far fa-minus-square" id="collapse <%= cc[:code] %>" onclick="collapse('<%= cc[:code] %>')" style="display: none;"></i>
    </div>
    <div class="table-cell grey-cell">
      <strong name="cc-code"><%= cc.code %></strong>
    </div>
    <div class="table-cell grey-cell">
      <strong><%= cc.description %></strong>
    </div>
    <div class="table-cell grey-cell">
    </div>
    <div class="table-cell grey-cell">
    </div>
    <div class="table-cell grey-cell">
      <strong>£<%= sprintf('%.2f', total_cc(cc.id)[0]) %></strong>
    </div>
    <div class="table-cell grey-cell">
      <strong>£<%= sprintf('%.2f', total_cc(cc.id)[1]) %></strong>
    </div>
  </div>
  <% @materials.materials.all(:costcode_id => cc.id).each do |mat|
    element_materials = @materials.all(:material_id => mat.id) %>
      <div class="table-row <%= cc.code %>" style="display: none;">
        <div class="table-cell"></div>
        <div class="table-cell">
          <%= cc.code %>
        </div>
        <div class="table-cell">
          <%= mat.description %> (<%= mat.supplier %>)
        </div>
        <div class="table-cell">
          £<%= sprintf('%.2f', element_materials[0].price) %> per <%= mat.unit %>
        </div>
        <div class="table-cell">
          <%= element_materials.sum(:units) %>
        </div>
        <div class="table-cell">
          £<%= sprintf('%.2f', element_materials.sum(:units) * element_materials[0].price) %>
        </div>
        <div class="table-cell">
          £<%= sprintf('%.2f', sum_markup(element_materials)) %>
        </div>
      </div>
    <% end %>
  <% end %>
  <div class="table-row">
    <div class="table-cell grey-cell">
      <i class="far fa-plus-square" id="expand Labour" onclick="expand('Labour')"></i>
      <i class="far fa-minus-square" id="collapse Labour" onclick="collapse('Labour')" style="display: none;"></i>
    </div>
    <div class="table-cell grey-cell">
      <strong name="cc-code">Labour</strong>
    </div>
    <div class="table-cell grey-cell">
    </div>
    <div class="table-cell grey-cell">
    </div>
    <div class="table-cell grey-cell">
      <strong><%= total_labour_days.flatten.inject(:+) %></strong>
    </div>
    <div class="table-cell grey-cell">
      <strong>£<%= sprintf('%.2f', total_labour_costs[0])%></strong>
    </div>
    <div class="table-cell grey-cell">
      <strong>£<%= sprintf('%.2f', total_labour_costs[1]) %></strong>
    </div>
  </div>
  <% LABOURTYPES.each do |type| %>
  <div class="table-row Labour" style="display: none;">
    <div class="table-cell">
    </div>
    <div class="table-cell">
      Labour
    </div>
    <div class="table-cell">
      <%= type.to_s.gsub('_', ' ').split.map(&:capitalize).join(' ') %>
    </div>
    <div class="table-cell">
    </div>
    <div class="table-cell">
      <%= @project.elements.element_labour.sum(type) %>
    </div>
    <div class="table-cell">
      £<%= sprintf('%.2f', summarise_labour(type)[0]) %>
    </div>
    <div class="table-cell">
      £<%= sprintf('%.2f', summarise_labour(type)[1]) %>
    </div>
  </div>
  <% end %>
</div>
<script>
var expand = function(id) {
  var plus = document.getElementById('expand ' + id);
  var minus = document.getElementById('collapse ' + id);
  var rows = document.getElementsByClassName('table-row ' + id);
  console.log(rows);
  plus.style.display = 'none';
  minus.style.display = 'inline';
  for (i = 0; i < rows.length; i++) {
    rows[i].style.display = 'table-row'
  }
}
var collapse = function(id) {
  var plus = document.getElementById('expand ' + id);
  var minus = document.getElementById('collapse ' + id);
  var rows = document.getElementsByClassName('table-row ' + id);
  plus.style.display = 'inline';
  minus.style.display = 'none';
  for (i = 0; i < rows.length; i++) {
    rows[i].style.display = 'none'
  }
}
var expandAll = function(){
  var allRows = document.getElementsByName('cc-code');
  for (r = 0; r < allRows.length; r++) {
    expand(allRows[r].innerHTML);
  }
  var allPlus = document.getElementById('expand-all');
  var allMinus = document.getElementById('collapse-all');
  allPlus.style.display = 'none';
  allMinus.style.display = 'inline';
}
var collapseAll = function(){
  var allRows = document.getElementsByName('cc-code');
  for (r = 0; r < allRows.length; r++) {
    collapse(allRows[r].innerHTML);
  }
  var allPlus = document.getElementById('expand-all');
  var allMinus = document.getElementById('collapse-all');
  allPlus.style.display = 'inline';
  allMinus.style.display = 'none';
}
</script>
