<h3><a href="/project-summary?project_id=<%= @element.project_version.project_id %>&version_id=<%= @element.project_version.id %>">Back to <%= @element.project_version.project.title %> Summary</a></h3>
<form action="/update-element" method="post">
  <input type="hidden" name="element_id" value="<%= @element.id %>">
  <div class="table">
    <div class="table-body">
      <div class="table-row">
        <div class="table-cell">
          Element Name <input type="text" name="title" value="<%= @element.title %>">
        </div>
      </div>
      <div class="table-row">
        <div class="table-cell">
          Quantity<input type="number" name="quantity" value="<%= @element.quantity %>" style="width: 50px;">
        </div>
      </div>
      <div class="table-row">
        <div class="table-cell">
          Build Start <input type="date" name="build_start" value="<%= @element.build_start %>">
        </div>
      </div>
      <div class="table-row">
        <div class="table-cell">
          Build End <input type="date" name="build_end" value="<%= @element.build_end %>">
        </div>
      </div>
      <div class="table-row">
        <div class="table-cell">
          Include in Quote
          <% if @element.quote_include == true %>
            <input type="checkbox" name="quote_include" checked>
          <% else %>
            <input type="checkbox" name="quote_include">
          <% end %>
        </div>
      </div>
      <div class="table-row">
        <div class="table-cell">
          Reference <input type="text" name="reference" value="<%= @element.reference %>">
        </div>
      </div>
        <div class="table-row">
          <div class="table-cell">
            Notes<br>
            <textarea name="notes" cols="50" rows="4"><%= @element.notes %></textarea><br>
          </div>
      </div>
    </div>
</div>
  <br>
  <% if @element.project_version.current_version %>
    <input class="btn" type="submit" value="Update Element">
  <% end %>
</form>
<% if @element.project_version.current_version %>
<div class="new-user">
  <h3>Add Material</h3>
  <form action="/add-material?element_id=<%= @element.id %>" method="post">
    Add New Material
    <select name="costcode_id">
      <option value="" selected>--</option>
      <% @costcodes.each do |code| %>
        <option value="<%= code.id %>">
          <%= code.code %>
        </option>
      <% end %>
    </select>
    <input type="hidden" name="project_id" value="<%= @element.project_version.project_id %>">
    <input type="text" name="description" placeholder="Description">
    <input type="text" name="supplier" placeholder="Supplier">
    <input type="text" name="unit" placeholder="Unit" class="double-digit">
    £<input type="number" name="current_price"class="double-digit" step="0.01">per unit
    <br>
    <i>- or -</i>
    <br>
    Select Existing Material
    <select name="materials" class="mat-dropdown">
      <option value="" selected>--</option>
      <% @matlist.each do |material| %>
        <option value="<%= material.id %>">
          <%= material.costcode.code + ' - ' + material.description %> (£<%= sprintf('%.2f',material.current_price) %> per <%= material.unit %>)
        </option>
      <% end %>
    </select>
    <i> - or - </i>
    Import from Element
    <select name="import" class="mat-dropdown">
      <option value="" selected>--</option>
      <% @elements.each do |element| %>
        <% if element.id != @element.id %>
          <option value="<%= element.id %>">
            <%= element.title %>
          </option>
        <% end %>
      <% end %>
    </select>
    <br>
    <input class="btn" type="submit" value="Add Material">
  </form>
</div>
<% end %>
<h3>Materials</h3>
<form action="/update-element?element_id=<%= @element.id %>" method="post">
  <div class="table">
    <div class="table-body">
      <div class="table-row header-row">
        <div class="table-cell">Costcode</div>
        <div class="table-cell description">Description</div>
        <div class="table-cell">Supplier</div>
        <div class="table-cell">Unit Cost</div>
        <div class="table-cell">Units</div>
        <div class="table-cell">At Cost</div>
        <div class="table-cell">With Mark-up</div>
        <div class="table-cell">Notes</div>
        <div class="table-cell">Units After Drawing</div>
      </div>
      <% @materials.each do |unit| %>
        <div class="table-row">
          <div class="table-cell"><%= unit.material.costcode.code %></div>
          <div class="table-cell description"><%= unit.material.description %></div>
          <div class="table-cell"><%= unit.material.supplier %></div>
          <div class="table-cell">£<%= sprintf('%.2f', unit.price) %></div>
          <div class="table-cell">
            <input type="number" class="single-digit" value="<%= unit.units %>">
          </div>
          <div class="table-cell">£<%= sprintf('%.2f', unit.units * unit.price) %></div>
          <div class="table-cell">£<%= sprintf('%.2f', unit.units * unit.price * (1) ) %></div>
          <div class="table-cell">
            <textarea name="notes" cols="15" rows="1"><%= unit.notes %></textarea>
            </div>
          <div class="table-cell">
            <input type="number" class="single-digit" value="<%= unit.units_after_drawing %>">
          </div>
        </div>
      <% end %>
      <div class="table-row header-row">
        <div class="table-cell"></div>
        <div class="table-cell"></div>
        <div class="table-cell"></div>
        <div class="table-cell"></div>
        <div class="table-cell">Totals:</div>
        <div class="table-cell">£1000.00</div>
        <div class="table-cell">£1200.00</div>
        <div class="table-cell"></div>
        <div class="table-cell"></div>
      </div>
    </div>
  </div>
  <% if @element.project_version.current_version %>
    <br><input class="btn" type="submit" value="Update Materials">
  <% end %>
</form>
<br>
<h3>Labour</h3>
<form action="/update-labour?element_labour_id=<%= @element.element_labour.id %>">
<div class="table">
  <div class="table-body">
    <div class="table-row header-row">
      <div class="table-cell"></div>
      <div class="table-cell">Carpentry</div>
      <div class="table-cell">Steelwork</div>
      <div class="table-cell">Scenic</div>
      <div class="table-cell">Onsite Paint</div>
      <div class="table-cell">Onsite Days</div>
      <div class="table-cell">Draughting</div>
      <div class="table-cell">PM</div>
      <div class="table-cell">Total</div>
    </div>
      <div class="table-row">
        <% days = 0 %>
        <div class="table-cell">Days</div>
        <div class="table-cell">
          <% days += @element.element_labour.carpentry %>
          <input class="double-digit" type="text" name="carpentry" value="<%= @element.element_labour.carpentry %>">
        </div>
        <div class="table-cell">
          <% days += @element.element_labour.steelwork %>
          <input class="double-digit" type="text" name="steelwork" value="<%= @element.element_labour.steelwork %>">
        </div>
        <div class="table-cell">
          <% days += @element.element_labour.scenic %>
          <input class="double-digit" type="text" name="scenic" value="<%= @element.element_labour.scenic %>">
        </div>
        <div class="table-cell">
          <% days += @element.element_labour.onsite_paint %>
          <input class="double-digit" type="text" name="onsite_paint" value="<%= @element.element_labour.onsite_paint %>">
        </div>
        <div class="table-cell">
          <% days += @element.element_labour.on_site_day %>
          <input class="double-digit" type="text" name="on_site_day" value="<%= @element.element_labour.on_site_day %>">
        </div>
        <div class="table-cell">
          <% days += @element.element_labour.draughting %>
          <input class="double-digit" type="text" name="draughting" value="<%= @element.element_labour.draughting %>">
        </div>
        <div class="table-cell">
        <% days += @element.element_labour.project_management %>
          <input class="double-digit" type="text" name="project_management" value="<%= @element.element_labour.project_management %>">
        </div>
        <div class="table-cell"><%= days %></div>
      </div>
      <div class="table-row">
        <% cost = 0 %>
        <div class="table-cell">Rate</div>
        <div class="table-cell">
          <% cost += @element.element_labour.carpentry_cost * @element.element_labour.carpentry %>
          <input class="double-digit" type="text" name="carpentry_cost" value="£<%= sprintf('%.2f', @element.element_labour.carpentry_cost) %>">
        </div>
        <div class="table-cell">
          <% cost += @element.element_labour.steelwork_cost * @element.element_labour.steelwork %>
          <input class="double-digit" type="text" name="steelwork_cost" value="£<%= sprintf('%.2f', @element.element_labour.steelwork_cost) %>">
        </div>
        <% cost += @element.element_labour.scenic_cost * @element.element_labour.scenic %>
        <div class="table-cell">
          <input class="double-digit" type="text" name="scenic_cost" value="£<%= sprintf('%.2f', @element.element_labour.scenic_cost) %>">
        </div>
        <div class="table-cell">
          <% cost += @element.element_labour.onsite_paint_cost * @element.element_labour.onsite_paint %>
          <input class="double-digit" type="text" name="onsite_paint_cost" value="£<%= sprintf('%.2f', @element.element_labour.onsite_paint_cost) %>">
        </div>
        <div class="table-cell">
          <% cost += @element.element_labour.on_site_day_cost * @element.element_labour.on_site_day %>
          <input class="double-digit" type="text" name="on_site_day_cost" value="£<%= sprintf('%.2f', @element.element_labour.on_site_day_cost) %>">
        </div>
        <div class="table-cell">
          <% cost += @element.element_labour.draughting_cost * @element.element_labour.draughting %>
          <input class="double-digit" type="text" name="draughting_cost" value="£<%= sprintf('%.2f', @element.element_labour.draughting_cost) %>">
        </div>
        <div class="table-cell">
          <% cost += @element.element_labour.project_management_cost * @element.element_labour.project_management %>
          <input class="double-digit" type="text" name="project_management_cost" value="£<%= sprintf('%.2f', @element.element_labour.project_management_cost) %>">
        </div>
        <div class="table-cell"></div>
      </div>
      <div class="table-row header-row">
        <div class="table-cell">Cost</div>
        <div class="table-cell">
          £<%= sprintf('%.2f', @element.element_labour.carpentry_cost * @element.element_labour.carpentry) %>
        </div>
        <div class="table-cell">
          £<%= sprintf('%.2f', @element.element_labour.steelwork_cost * @element.element_labour.steelwork) %>
        </div>
        <div class="table-cell">
          £<%= sprintf('%.2f', @element.element_labour.scenic_cost * @element.element_labour.scenic) %>
        </div>
        <div class="table-cell">
          £<%= sprintf('%.2f', @element.element_labour.onsite_paint_cost * @element.element_labour.onsite_paint) %>
        </div>
        <div class="table-cell">
          £<%= sprintf('%.2f', @element.element_labour.on_site_day_cost * @element.element_labour.on_site_day) %>
        </div>
        <div class="table-cell">
          £<%= sprintf('%.2f', @element.element_labour.draughting_cost * @element.element_labour.draughting) %>
        </div>
        <div class="table-cell">
          £<%= sprintf('%.2f', @element.element_labour.project_management_cost * @element.element_labour.project_management) %>
        </div>
        <div class="table-cell">£<%= sprintf('%.2f', cost ) %></div>
      </div>
  </div>
</div>
<br>
<% if @element.project_version.current_version %>
  <input class="btn" type="submit" value="Update Labour">
<% end %>
</form>
