<script src="js/element.js"></script>

<a href="/project-summary?project_id=<%= @element.project_version.project_id %>&version_id=<%= @element.project_version.id %>"><i class="fas fa-caret-left"></i> Back to project summary</a>
<br>
<div class="top-box top-limit">
  <h3>Element Summary</h3>
  <form action="/update-element" method="post">
    <input type="hidden" name="element_id" value="<%= @element.id %>">
    <div class="table">
      <div class="table-body">
        <div class="table-row">
          <div class="table-cell">
            Element Name <input type="text" name="title" value="<%= @element.title %>">
          </div>
        </div>
        <div class="table-row">
          <div class="table-cell">
            Quantity<input type="number" step="any" name="quantity" value="<%= @element.quantity %>" style="width: 50px;">
               Include in Quote
            <% if @element.quote_include == true %>
              <input type="checkbox" name="quote_include" checked>
            <% else %>
              <input type="checkbox" name="quote_include">
            <% end %>
          </div>
        </div>
        <div class="table-row">
          <div class="table-cell">
            Build Start <input type="date" name="build_start" value="<%= @element.build_start %>">
          </div>
        </div>
        <div class="table-row">
          <div class="table-cell">
            Build End <input type="date" name="build_end" value="<%= @element.build_end %>">
          </div>
        </div>
        <div class="table-row">
          <div class="table-cell">
            Our Reference <input class="double-digit" type="text" name="reference" value="<%= @element.reference %>">
            Client Reference <input class="double-digit" type="text" name="client_ref" value="<%= @element.client_ref %>">
          </div>
        </div>
          <div class="table-row">
            <div class="table-cell">
              Notes<br>
              <textarea name="notes" cols="50" rows="3"><%= @element.notes %></textarea><br>
            </div>
        </div>
        <div class="table-row">
          <div class="table-cell">
            Last updated: <%= @element.last_update %>
          </div>
        </div>
      </div>
  </div>
    <br>
    Default Markups (%)
    <% if @element.markup_defaults == true %>
      <input type="checkbox" name="markup_defaults" checked>
      <br><br>
    <% else %>
      <input type="checkbox" name="markup_defaults">
      <br>
      <div class="table">
        <div class="table-row">
          <div class="table-cell">
            Contingency<br>
            <input type="number" class="single-digit" step="any" name="contingency" value="<%= @element.contingency %>">
          </div>
          <div class="table-cell">
            Overhead<br>
            <input type="number" class="single-digit" step="any" name="overhead" value="<%= @element.overhead %>">
          </div>
          <div class="table-cell">
            Profit<br>
            <input type="number" class="single-digit" step="any" name="profit" value="<%= @element.profit %>">
          </div>
          <div class="table-cell">
            Subcontractor<br>
            <input type="number" class="single-digit" step="any" name="subcontractor" value="<%= @element.subcontractor %>">
          </div>
        </div>
      </div>
    <% end %>
    <br>

    <% if @element.project_version.current_version %>
      <input class="btn" type="submit" value="Update Element">
      <br>
      <div class="remove-link" onclick="showDelete()" style="cursor: pointer"><i class="far fa-trash-alt"></i> Remove</div>
    <% end %>
  </form>
</div>

<% if @element.project_version.current_version %>
<div class="top-box top-limit" id="new-material">
  <h3>Add Material</h3>
  <form action="/add-material?element_id=<%= @element.id %>" method="post">
    Add New Material<br>
    <select name="costcode_id" class="cc-dropdown">
      <option value="" selected>--</option>
      <% @costcodes.each do |code| %>
        <option value="<%= code.id %>">
          (<%= code.code %>) <%= code.description %>
        </option>
      <% end %>
    </select><br>
    <input type="hidden" name="project_id" value="<%= @element.project_version.project_id %>">
    <input type="text" name="description" placeholder="Description"><br>
    <input type="text" name="supplier" placeholder="Supplier">
    <br>
    £<input type="number" name="current_price"class="double-digit" step="any">per
    <input type="text" name="unit" placeholder="Unit" class="double-digit">
    <br><br>
    <i>- or -</i>
    <br>
    Select Existing Material
    <br>
    <select name="materials" class="mat-dropdown">
      <option value="" selected>--</option>
      <% @matlist.sort_by! { |mat| mat['description'] } %>
      <% @matlist.each do |material| %>
        <option value="<%= material.id %>">
          <%= material.costcode.code + ' - ' + material.description %> (£<%= sprintf('%.2f',material.current_price) %> per <%= material.unit %>)
        </option>
      <% end %>
    </select>
    <br>
    <i> - or - </i>
    <br>
    Import from Element
    <br>
    <select name="import" class="mat-dropdown">
      <option value="" selected>--</option>
      <% @element.project_version.elements.all(:order => [ :title.asc ]).each do |element| %>
        <% if element.id != @element.id %>
          <option value="<%= element.id %>">
            <%= element.title %>
          </option>
        <% end %>
      <% end %>
    </select>
    <br>
    <input class="btn" type="submit" value="Add Material">
  </form>
  <form action='/element' method="get">
    <br>Jump to elements<br>
    <select name="id" class="mat-dropdown">
      <option value="" selected>--</option>
      <% @element.project_version.elements.all(:order => [ :title.asc ]).each do |element| %>
        <% if element.id != @element.id %>
          <option value="<%= element.id %>">
            <%= element.title %>
          </option>
        <% end %>
      <% end %>
    </select>
    <input class="btn" type="submit" value="Jump">
  </form>
</div>
<% end %>
<br>
<div class="top-box" id="delete" style="display: none;">
  <i class="fas fa-exclamation-circle" style="color: red;"></i><br>
  Are you sure you want to remove this element from <%= @element.project_version.project.title %>?<br>
  <i>This cannot be undone!</i><br>
  <a href="/delete-element?element_id=<%= @element.id %>" style="color: red;">Yes, Remove Element</a><br>
  <span onclick="hideDelete()" style="cursor: pointer">No, Keep Element</span>
</div>
<script type="text/javascript">
  var showDelete = function() {
    document.getElementById('delete').style.display = 'inline-block';
  }
  var hideDelete = function() {
    document.getElementById('delete').style.display = 'none';
  }
</script>
<br>
<div class="top-box">
<h3>Materials</h3>
<form id='materials' action="/update-materials?element_id=<%= @element.id %>" method="post">
  <div class="table">
    <div class="table-body" id="materials-list">
      <div class="table-row header-row">
        <div class="table-cell"></div>
        <div class="table-cell">Account Code</div>
        <div class="table-cell description" style="min-width: 200px">Description</div>
        <div class="table-cell">Supplier</div>
        <div class="table-cell">Unit Cost</div>
        <div class="table-cell">Units</div>
        <div class="table-cell">At Cost</div>
        <div class="table-cell">Notes</div>
      </div>
      <% @element.element_materials.all(:order => [ :mat_order.asc ]).each do |unit| %>
        <div class="table-row fade-fast" id="<%= unit.id %>-row">
          <div class="table-cell grey-cell" style="max-width: 10px;">
            <i class="fas fa-caret-up" onclick="reorderUp(<%= unit.id %>)"></i>
            <i class="fas fa-caret-down" onclick="reorderDown(<%= unit.id %>)"></i>
            <input name="<%= unit.id %> order" id="<%= unit.id %> order" type="hidden" value="<%= unit.mat_order %>">
          </div>
          <div class="table-cell grey-cell"><%= unit.material.costcode.code %></div>
          <div class="table-cell grey-cell description">
            <a href="/element-material?elmat_id=<%= unit.id %>"><%= unit.material.description %></a>
            </div>
          <div class="table-cell grey-cell"><%= unit.material.supplier %></div>
          <div class="table-cell grey-cell" id="<%= unit.id %> price">£<%= sprintf('%.2f', unit.price) %></div>
          <div class="table-cell grey-cell">
            <input id="<%= unit.id %> units" name="<%= unit.id %> units" type="number" step="any" class="single-digit" value="<%= unit.units %>" onchange="updateCost(<%= unit.id %>)">
          </div>
          <div class="table-cell grey-cell cost" id="<%= unit.id %> cost">jsfail</div>
          <div class="table-cell grey-cell">
            <textarea name="<%= unit.id %> notes" cols="15" rows="1"><%= unit.notes %></textarea>
          </div>
        </div>
        <script>updateCost(<%=unit.id %>);</script>
      <% end %>
      <div class="table-row header-row">
        <div class="table-cell"></div>
        <div class="table-cell"></div>
        <div class="table-cell"></div>
        <div class="table-cell"></div>
        <div class="table-cell"></div>
        <div class="table-cell">Totals:</div>
        <div class="table-cell" id="cost-total">jsfail</div>
        <div class="table-cell"></div>
      </div>
    </div>
  </div>
  <% if @element.project_version.current_version %>
    <br><input class="btn" type="submit" value="Save Materials Changes">
  <% end %>
</form>
<script>updateTotal()</script>
</div>

<br><br>
<div class="top-box">
<h3>Labour</h3>
<form action="/update-element-labour?element_labour_id=<%= @element.element_labour.id %>&element_id=<%= @element.id %>" method="post">
<div class="table" id="labour">
  <div class="table-body">
    <div class="table-row header-row">
      <div class="table-cell" style="min-width: 80px;"></div>
      <div class="table-cell">Carpentry</div>
      <div class="table-cell">Steelwork</div>
      <div class="table-cell">Scenic</div>
      <div class="table-cell">Onsite Paint</div>
      <div class="table-cell">Onsite Days</div>
      <div class="table-cell">Draughting</div>
      <div class="table-cell">PM</div>
      <div class="table-cell" style="min-width: 80px">Total</div>
    </div>
      <div class="table-row grey-cell">
        <div class="table-cell">Days</div>
        <div class="table-cell">
          <input class="double-digit lab-day" type="number" step="any" onclick="updateLabour('carpentry')" name="carpentry" value="<%= @element.element_labour.carpentry %>">
        </div>
        <div class="table-cell">
          <input class="double-digit lab-day" type="number" step="any" onclick="updateLabour('steelwork')" name="steelwork" value="<%= @element.element_labour.steelwork %>">
        </div>
        <div class="table-cell">
          <input class="double-digit lab-day" type="number" step="any" onclick="updateLabour('scenic')" name="scenic" value="<%= @element.element_labour.scenic %>">
        </div>
        <div class="table-cell">
          <input class="double-digit lab-day" type="number" step="any" onclick="updateLabour('onsite_paint')" name="onsite_paint" value="<%= @element.element_labour.onsite_paint %>">
        </div>
        <div class="table-cell">
          <input class="double-digit lab-day" type="number" step="any" onclick="updateLabour('onsite_day')" name="onsite_day" value="<%= @element.element_labour.onsite_day %>">
        </div>
        <div class="table-cell">
          <input class="double-digit lab-day" type="number" step="any" onclick="updateLabour('draughting')" name="draughting" value="<%= @element.element_labour.draughting %>">
        </div>
        <div class="table-cell">
          <input class="double-digit lab-day" type="number" step="any" onclick="updateLabour('project_management')" name="project_management" value="<%= @element.element_labour.project_management %>">
        </div>
        <div class="table-cell" id="day-total">jsfail</div>
      </div>
      <div class="table-row grey-cell">
        <% cost = 0 %>
        <div class="table-cell">Rate (£)</div>
        <div class="table-cell">
          <input class="double-digit lab-cost" type="number" step="any" onclick="updateLabour('carpentry')" name="carpentry_cost" value="<%= @element.element_labour.carpentry_cost %>">
        </div>
        <div class="table-cell">
          <input class="double-digit lab-cost" type="number" step="any" onclick="updateLabour('steelwork')" name="steelwork_cost" value="<%= @element.element_labour.steelwork_cost %>">
        </div>
        <div class="table-cell">
          <input class="double-digit lab-cost" type="number" step="any" onclick="updateLabour('scenic')" name="scenic_cost" value="<%= @element.element_labour.scenic_cost %>">
        </div>
        <div class="table-cell">
          <input class="double-digit lab-cost" type="number" step="any" onclick="updateLabour('onsite_paint')" name="onsite_paint_cost" value="<%= @element.element_labour.onsite_paint_cost %>">
        </div>
        <div class="table-cell">
          <input class="double-digit lab-cost" type="number" step="any" onclick="updateLabour('onsite_day')" name="onsite_day_cost" value="<%= @element.element_labour.onsite_day_cost %>">
        </div>
        <div class="table-cell">
          <input class="double-digit lab-cost" type="number" step="any" onclick="updateLabour('draughting')" name="draughting_cost" value="<%= @element.element_labour.draughting_cost %>">
        </div>
        <div class="table-cell">
          <input class="double-digit lab-cost" type="number" step="any" onclick="updateLabour('project_management')" name="project_management_cost" value="<%= @element.element_labour.project_management_cost %>">
        </div>
        <div class="table-cell"></div>
      </div>
      <div class="table-row header-row">
        <div class="table-cell">Cost</div>
        <div class="table-cell carpentry-total">jsfail</div>
        <script>updateLabour('carpentry');</script>
        <div class="table-cell steelwork-total">jsfail</div>
        <script>updateLabour('steelwork');</script>
        <div class="table-cell scenic-total">jsfail</div>
        <script>updateLabour('scenic');</script>
        <div class="table-cell onsite_paint-total">jsfail</div>
        <script>updateLabour('onsite_paint');</script>
        <div class="table-cell onsite_day-total">jsfail</div>
        <script>updateLabour('onsite_day');</script>
        <div class="table-cell draughting-total">jsfail</div>
        <script>updateLabour('draughting');</script>
        <div class="table-cell project_management-total">jsfail</div>
        <script>updateLabour('project_management');</script>
        <div class="table-cell" id="lab-total">jsfail</div>
        <script>updateLabourTotal()</script>
      </div>
  </div>
</div>
<br>
<% if @element.project_version.current_version %>
  <input class="btn" type="submit" value="Save Labour Changes">
<% end %>
</form>
</div>
<script type="text/javascript">
var list = document.getElementById('materials-list')
</script>
