<h3><a href="/element?id=<%= @el_mat.element.id %>">Back to <%= @el_mat.element.project_version.project.title %> : <%= @el_mat.element.title %></a></h3>
<div class="top-box">
  <form action="/update-element-material?elmat_id=<%= @el_mat.id %>" method="post">
    <div class="table">
      <div class="table-body">
        <div class="table-row">
          <div class="table-cell">
            <h3><%= @el_mat.material.description %></h3>
          </div>
        </div>
        <div class="table-row">
          <div class="table-cell">
            Current Price: <strong>£<%= sprintf('%.2f',@el_mat.price) %> per <%= @el_mat.material.unit %></strong>
          </div>
        </div>
        <div class="table-row">
          <div class="table-cell">
            Price Last Updated:
            <% if  @el_mat.material.price_updated < (Date.today - 30) %>
              <span style="color: red; font-style: oblique;">
            <% else %>
              <span>
            <% end %>
            <%= @el_mat.material.price_updated.strftime("%d/%m/%Y") %>
            (<%= Date.today.mjd - @el_mat.material.price_updated.mjd %> days ago)</span>
          </div>
        </div>
        <div class="table-row">
          <div class="table-cell">
            Notes:<br>
            <textarea name="notes"  cols="50" rows="3"><%= @el_mat.notes %></textarea>
          </div>
        </div>
        <div class="table-row">
          <div class="table-cell">
            Units for this element <input class="single-digit" type="number" name="units" step="0.01" value="<%= @el_mat.units %>">
            Units after drawing <input class="single-digit" type="number" name="units_after_drawing" value="<%= @el_mat.units_after_drawing %>">
          </div>
        </div>
        <div class="table-row">
          <div class="table-cell">
            Subcontracted Material
            <% if @el_mat.subcontract == true %>
              <input type="checkbox" name="subcontract" checked>
            <% else %>
              <input type="checkbox" name="subcontract">
            <% end %>
          </div>
        </div>
        <div class="table-row">
          <div class="table-cell">
            Default Markups (%)
            <% if @el_mat.markup_defaults == true %>
              <input type="checkbox" name="markup_defaults" checked>
              <br><br>
            <% else %>
              <input type="checkbox" name="markup_defaults">
              <br>
            <% end %>
            <% if @el_mat.markup_defaults == true %>
              <div class="table" style="display: none;">
            <% else %>
              <div class="table">
                <% end %>
                <div class="table-row">
                  <div class="table-cell">
                    Contingency<br>
                    <input type="number" class="single-digit" step="0.5" name="contingency" value="<%= @el_mat.contingency %>">
                  </div>
                  <div class="table-cell">
                    Overhead<br>
                    <input type="number" class="single-digit" step="0.5" name="overhead" value="<%= @el_mat.overhead %>">
                  </div>
                  <div class="table-cell">
                    Profit<br>
                    <input type="number" class="single-digit" step="0.5" name="profit" value="<%= @el_mat.profit %>">
                  </div>
                  <div class="table-cell">
                    Subcontractor<br>
                    <input type="number" class="single-digit" step="0.5" name="subcontractor" value="<%= @el_mat.subcontractor %>">
                  </div>
                </div>
              </div>
            <br>
          </div>
        </div>
      </div>
    </div>
    <br>
    <% if @el_mat.element.project_version.current_version %>
    <input class="btn" type="submit" value="Save Changes">
    <br>
    <div class="remove-link" onclick="showDelete()" style="cursor: pointer"><i class="far fa-trash-alt"></i> Remove</div>
    <% end %>
  </form>
</div>
<br>
<div class="top-box" id="delete" style="display: none;">
  <i class="fas fa-exclamation-circle" style="color: red;"></i><br>
  Are you sure you want to remove this material from <%= @el_mat.element.title %>?<br>
  <i>This cannot be undone!</i><br>
  <a href="/delete-element-material?material_id=<%= @el_mat.id %>" style="color: red;">Yes, Remove Material</a><br>
  <span onclick="hideDelete()" style="cursor: pointer">No, Cancel</span>
</div>
<script type="text/javascript">
  var showDelete = function() {
    document.getElementById('delete').style.display = 'inline-block';
  }
  var hideDelete = function() {
    document.getElementById('delete').style.display = 'none';
  }
</script>
