
<h3>Materials</h3>
<form action="/update-all-materials?sort_by=<%= @sort %>&direction=<%= @order %>" method="post">
  <input class="btn" type="submit" value="Save Changes">
  <br>
  <div class="table">
    <div class="table-row header-row">
      <div class="table-cell">
        <a href='/materials?sort_by=description&direction=<%= @order %>'>Description <i class="fas fa-sort"></i></a>
      </div>
      <div class="table-cell">
        <a href='/materials?sort_by=costcode_id&direction=<%= @order %>'>Account Code <i class="fas fa-sort"></i></a>
      </div>
      <div class="table-cell">
        <a href='/materials?sort_by=supplier&direction=<%= @order %>'>Supplier <i class="fas fa-sort"></i></a>
      </div>
      <div class="table-cell">Unit</div>
      <div class="table-cell">Current Unit Price</div>
      <div class="table-cell">
        <a href='/materials?sort_by=price_updated&direction=<%= @order %>'>Last Updated <i class="fas fa-sort"></i></a>
      </div>
      <div class="table-cell">Origin Project</div>
      <div class="table-cell">Global</div>
      <div class="table-cell" style="width: 45px;"></div>
    </div>
    <% @materials.each do |material| %>
      <div class="table-row">
        <div class="table-cell"><%= material.description %></div>
        <div class="table-cell"><%= material.costcode.code %></div>
        <div class="table-cell"><%= material.supplier %></div>
        <div class="table-cell"><%= material.unit %></div>
        <div class="table-cell">£
          <input name="<%= material.id %>_current_price" class="double-digit" type="number" step="any" value="<%= sprintf('%.2f',material.current_price) %>">
        </div>
        <div class="table-cell"><%= material.price_updated.strftime("%d/%m/%Y") %></div>
        <div class="table-cell"><%= material.project.title %></div>
        <div class="table-cell">
          <% if material.global %>
            <input type="checkbox" name="<%= material.id %>_global" checked>
          <% else %>
            <input type="checkbox" name="<%= material.id %>_global">
          <% end %>
        </div>
        <div class="table-cell" style="text-align: left">
          <span onclick="showConfirm(<%= material.id %>)"><i class="far fa-trash-alt"></i></span>
          <span onclick="hideConfirm(<%= material.id %>)" name="confirm <%= material.id %>" style="display: none; color: red; cursor: pointer;"><i class="fas fa-times"></i></span>
          <a href="/delete-material?id=<%= material.id %>&sort_by=<%= @sort %>&direction=<%= @order %>" name="confirm <%= material.id %>" style="display: none; color: green;"><i class="fas fa-check"></i></a>
        </div>
      </div>
    <% end %>
  </div>
  <br>
  <input class="btn" type="submit" value="Save Changes">
</form>
<script type="text/javascript">
  var showConfirm = function(id) {
    var icons = document.getElementsByName('confirm ' + id);
    icons[0].style.display = 'inline'
    icons[1].style.display = 'inline'
  }
 var hideConfirm = function(id) {
    var icons = document.getElementsByName('confirm ' + id);
    icons[0].style.display = 'none'
    icons[1].style.display = 'none'
  }
</script>
