<script src="js/project.js"></script>

<h2><%= @project.title %> Summary</h2>
<h3>Version: <%= @current_version.version_name %></h3>
<form class="top-box" action="/save-project" method="post">
  <input type="hidden" name="project_id" value="<%= @project.id %>">
  <div class="table">
    <div class="table-body">
      <div class="table-row">
        <div class="table-cell">
          Project Title <input type="text" name="title" value="<%= @project.title %>">
        </div>
        <div class="table-cell">
          Status <select name="status">
            <% @dropdowns[:status].each do |status| %>
              <% if status == @current_version.status %>
                <option selected value="<%= status %>"><%= status %></option>
              <% else %>
                <option value="<%= status %>"><%= status %></option>
              <% end %>
            <% end %>
          </select>
        </div>
      </div>
      <div class="table-row">
        <div class="table-cell">
          Job Code <input type="text" name="job_code" value="<%= @project.job_code %>">
        </div>
        <div class="table-cell">
          Factory Settings PM <select name="user_id">
          <% @dropdowns[:users].each do |pm| %>
            <% if @project.user_id && pm.id == @project.user_id %>
              <option selected value="<%= pm.id %>"><%= pm.firstname + ' ' + pm.surname %></option>
            <% else %>
              <option value="<%= pm.id %>"><%= pm.firstname + ' ' + pm.surname %></option>
              <% end %>
          <% end %>
          </select>
        </div>
      </div>
      <div class="table-row">
        <div class="table-cell">
          Workshop Deadline <input type="date" name="workshop_deadline" value="<%= @project.workshop_deadline %>">
        </div>
        <div class="table-cell">
          Client
          <select name="client_id">
            <% @dropdowns[:clients].each do |client| %>
              <% if @project.client && client.id == @project.client.id %>
                <option selected value="<%= client.id %>"><%= client.name %></option>
              <% else %>
                <option value="<%= client.id %>"><%= client.name %></option>
                <% end %>
            <% end %>
          </select>
        </div>
      </div>
      <div class="table-row">
        <div class="table-cell">
          On Site Deadline <input type="date" name="on_site" value="<%= @project.on_site %>">
        </div>
        <div class="table-cell">
          Site <select name="site_id">
            <% @dropdowns[:sites].each do |site| %>
              <% if @project.site && site.id == @project.site.id %>
                <option selected value="<%= site.id %>"><%= site.name %></option>
              <% else %>
                <option value="<%= site.id %>"><%= site.name %></option>
                <% end %>
            <% end %>
          </select>
        </div>
      </div>
      <div class="table-row">
        <div class="table-cell">
          Current Version:
          <%= @current_version.current_version ? 'Yes' : 'No' %>
        </div>
        <div class="table-cell">
          <a href='/versions?id=<%= @project.id %>'>Total Versions:
          <%= @project.project_versions.all.count %></a>
        </div>
      </div>
      <div class="table-row">
        <div class="table-cell">
          Contracted Version
          <% if @current_version.contracted %>
          <input type="checkbox" name="contracted" checked="checked">
          <% else %>
          <input type="checkbox" name="contracted">
          <% end %>
        </div>
        <div class="table-cell">
          Last Update: <%= @current_version.last_update %>
        </div>
      </div>
      <div class="table-row">
        <div class="table-cell">
          Project Summary<br>
          <textarea cols="50" rows="4" name="summary"><%= @project.summary %></textarea>
        </div>
        <div class="table-cell">
          Technical Site Requirements<br>
          <textarea cols="50" rows="4" name="technical_requirements"><%= @project.technical_requirements %></textarea>
        </div>
      </div>
    </div>
  </div><br>
  <% if @current_version.current_version %>
  <input class="btn" type="submit" value="Save Project">
  <% end %>
</form>
<br><br>
<div class="top-box">
<h3>Element Costs</h3>
<a href="/project-labour?project_id=<%= @project.id %>&version_id=<%= @current_version.id %>">Go to Labour Summary</a>
<% if @current_version.current_version %>
<form action="/new-element" method="post">
  <input type="hidden" name="project_id" value="<%= @project.id %>">
  <input type="hidden" name="project_v_id" value="<%= @current_version.id %>">
  <input class="double-digit" type="text" name="reference" placeholder="Reference">
  <input class="double-digit" type="text" name="client_ref" placeholder="Client Ref">
  <input type="text" name="title" placeholder="New Element Name">
  <input class="btn" type="submit" value="Add New Element">
</form>
<% end %>
<form action="/update-project?project_id=<%= @project.id %>" method="post">
<div class="table">
  <div class="table-body" id="elements-list">
    <div class="table-row header-row">
      <div class="table-cell" style="width: 10px">#</div>
      <div class="table-cell" style="min-width: 130px">Element</div>
      <div class="table-cell">Our Ref</div>
      <div class="table-cell">Client Ref</div>
      <div class="table-cell">Materials</div>
      <div class="table-cell">Labour</div>
      <div class="table-cell">Prime</div>
      <div class="table-cell">Markup</div>
      <div class="table-cell">Subtotal</div>
      <div class="table-cell">Quantity</div>
      <div class="table-cell">Total</div>
      <div class="table-cell">Included in quote</div>
    </div>
    <% @current_version.elements.each do |element| %>
      <% element_totals = @totals.select { |hash| hash[:id] == element.id } %>
      <div class="table-row fade-fast" id="<%= element.id %>-row">
        <div class="table-cell grey-cell" style="width: 10px">
          <i class="fas fa-caret-up" onclick="reorderUp(<%= element.id %>)"></i>
          <i class="fas fa-caret-down" onclick="reorderDown(<%= element.id %>)"></i>
          <input class="single-digit" type="hidden" id="<%= element.id %> order" name="<%= element.id %> el_order" value="<%= element.el_order %>">
        </div>
        <div class="table-cell grey-cell"><a href="/element?id=<%= element.id %>"><%= element.title %></a></div>
        <div class="table-cell grey-cell"><%= element.reference %></div>
        <div class="table-cell grey-cell"><%= element.client_ref %></div>
        <div class="table-cell grey-cell">£<%= sprintf('%.2f', element_totals[0][:materials]) %></div>
        <div class="table-cell grey-cell">£<%= sprintf('%.2f', element_totals[0][:labour]) %></div>
        <div class="table-cell grey-cell">£<%= sprintf('%.2f', element_totals[0][:materials] + element_totals[0][:labour]) %></div>
        <div class="table-cell grey-cell">£<%= sprintf('%.2f', element_totals[0][:markup]) %></div>
        <div class="table-cell grey-cell" id="<%= element.id %> cost">£<%= sprintf('%.2f', element_totals[0][:materials] + element_totals[0][:labour] + element_totals[0][:markup]) %></div>
        <div class="table-cell grey-cell">
          <input class="single-digit" type="number" name="<%= element.id %> quantity" id="<%= element.id %> quantity" value="<%= element.quantity %>" onchange="updateElement(<%= element.id %>)">
        </div>
        <div class="table-cell grey-cell cost" id="<%= element.id %> total">jsfail</div>
        <div class="table-cell grey-cell">
          <% if element.quote_include == true %>
            <input type="checkbox" name="<%= element.id %> include" checked>
          <% else %>
            <input type="checkbox" name="<%= element.id %> include">
          <% end %>
        </div>
      </div>
      <script>updateCost(<%= element.id %>)</script>
    <% end %>
    <div class="table-row header-row">
      <div class="table-cell" style="width: 10px"></div>
      <div class="table-cell" style="min-width: 130px"></div>
      <div class="table-cell"></div>
      <div class="table-cell"></div>
      <div class="table-cell"></div>
      <div class="table-cell"></div>
      <div class="table-cell"></div>
      <div class="table-cell"></div>
      <div class="table-cell"></div>
      <div class="table-cell">Total</div>
      <div class="table-cell" id="cost-total">jsfail</div>
      <div class="table-cell"></div>
    </div>
  </div>
</div>
<br>
<% if @current_version.current_version %>
<input class="btn" type="submit" value="Save Changes">
<% end %>
</form>
</div>
<br><br>
<script type="text/javascript">
updateTotal()
var list = document.getElementById('elements-list')
</script>
