<div class="top-box project-header">
  <h2><%= @project.title %> Summary</h2>
  <h3>Version: <%= @current_version.version_name %></h3>
  <div style="height: 20px"></div>
  Current Version:
  <%= @current_version.current_version ? 'Yes' : 'No' %>
  <br>
  <a href='/versions?id=<%= @project.id %>'>Total Versions:
  <%= @project.project_versions.all.count %></a>
  <br>
  <% if !@project.users.first(:id => session[:user_id]) %>
  <a href="/add-my?project_id=<%= @project.id %>"><i class="fas fa-thumbtack"></i> My Projects</a>
  <% end %>
</div>
<div class="top-box project-header">
  <h3>Reports</h3>
  <a href="/report?type=costcode_report&version_id=<%= @current_version.id %>">Account Code Breakdown</a><br>
  <a href="/report?type=draughting&version_id=<%= @current_version.id %>">Draughting Sheet</a><br>
  <a href="/report?type=laboursheet&version_id=<%= @current_version.id %>">Labour Sheet</a><br>
  <a href="/report?type=ordersheet&version_id=<%= @current_version.id %>">Ordersheet</a><br>
  <a href="/report?type=quotation&version_id=<%= @current_version.id %>">Quotation</a><br>
  <a href="/report?type=terms&version_id=<%= @current_version.id %>">Terms Schedule</a><br>
</div>
<br>
<form class="top-box" action="/save-project" method="post">
  <input type="hidden" name="project_id" value="<%= @project.id %>">
  <div class="table">
    <div class="table-body">
      <div class="table-row">
        <div class="table-cell">
          Project Title <input type="text" name="title" value="<%= @project.title %>">
        </div>
        <div class="table-cell">
          Status <select name="status">
            <% @dropdowns[:status].each do |status| %>
              <% if status == @current_version.status %>
                <option selected value="<%= status %>"><%= status %></option>
              <% else %>
                <option value="<%= status %>"><%= status %></option>
              <% end %>
            <% end %>
          </select>
        </div>
      </div>
      <div class="table-row">
        <div class="table-cell">
          Job Code <input type="text" name="job_code" value="<%= @project.job_code %>">
        </div>
        <div class="table-cell">
          Factory Settings PM <select name="user_id">
          <% @dropdowns[:users].each do |pm| %>
            <% if @project.user_id && pm.id == @project.user_id %>
              <option selected value="<%= pm.id %>"><%= pm.firstname + ' ' + pm.surname %></option>
            <% else %>
              <option value="<%= pm.id %>"><%= pm.firstname + ' ' + pm.surname %></option>
              <% end %>
          <% end %>
          </select>
        </div>
      </div>
      <div class="table-row">
        <div class="table-cell">
          Workshop Deadline <input type="date" name="workshop_deadline" value="<%= @project.workshop_deadline %>">
        </div>
        <div class="table-cell">
          Client
          <select name="client_id">
            <% @dropdowns[:clients].each do |client| %>
              <% if @project.client && client.id == @project.client.id %>
                <option selected value="<%= client.id %>"><%= client.name %></option>
              <% else %>
                <option value="<%= client.id %>"><%= client.name %></option>
                <% end %>
            <% end %>
          </select>
        </div>
      </div>
      <div class="table-row">
        <div class="table-cell">
          On Site Deadline <input type="date" name="on_site" value="<%= @project.on_site %>">
        </div>
        <div class="table-cell">
          Site <select name="site_id">
            <% @dropdowns[:sites].each do |site| %>
              <% if @project.site && site.id == @project.site.id %>
                <option selected value="<%= site.id %>"><%= site.name %></option>
              <% else %>
                <option value="<%= site.id %>"><%= site.name %></option>
                <% end %>
            <% end %>
          </select>
        </div>
      </div>
      <div class="table-row">
        <div class="table-cell">
          Contracted Version
          <% if @current_version.contracted %>
          <input type="checkbox" name="contracted" checked="checked">
          <% else %>
          <input type="checkbox" name="contracted">
          <% end %>
        </div>
        <div class="table-cell">
          Last Update: <%= @current_version.last_update %>
        </div>
      </div>
      <div class="table-row">
        <div class="table-cell">
          Project Summary<br>
          <textarea cols="50" rows="3" name="summary"><%= @project.summary %></textarea>
        </div>
        <div class="table-cell">
          Technical Site Requirements<br>
          <textarea cols="50" rows="3" name="technical_requirements"><%= @project.technical_requirements %></textarea>
        </div>
      </div>
      <div class="table-row">
        <div class="table-cell">
          Special Terms<br>
          <textarea cols="50" rows="3" name="terms"><%= @project.terms %></textarea>
        </div>
        <div class="table-cell">
          Default Markups (%)
          <br>
          <div class="table">
            <div class="table-row">
              <div class="table-cell">
                Contingency<br>
                <input type="number" class="single-digit" step="0.5" name="contingency" value="<%= @current_version.contingency %>">
              </div>
              <div class="table-cell">
                Overhead<br>
                <input type="number" class="single-digit" step="0.5" name="overhead" value="<%= @current_version.overhead %>">
              </div>
              <div class="table-cell">
                Profit<br>
                <input type="number" class="single-digit" step="0.5" name="profit" value="<%= @current_version.profit %>">
              </div>
              <div class="table-cell">
                Subcontractor<br>
                <input type="number" class="single-digit" step="0.5" name="subcontractor" value="<%= @current_version.subcontractor %>">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <br>
  <% if @current_version.current_version %>
  <input class="btn" type="submit" value="Save Project">
  <% end %>
</form>
