<h2>Project Brief </h2>
<form class="" action="/project" method="post">
  <input type="hidden" name="project_id" value="<%= @project.id %>">
  <div class="table">
    <div class="table-body">
      <div class="table-row">
        <div class="table-cell">
          Project Title <input type="text" name="title" value="<%= @project.title %>">
        </div>
        <div class="table-cell">
          Status <select name="status">
            <% @status.each do |status| %>
              <% if status == @project.status %>
                <option selected value="<%= status %>"><%= status %></option>
              <% else %>
                <option value="<%= status %>"><%= status %></option>
              <% end %>
            <% end %>
          </select>
        </div>
      </div>
      <div class="table-row">
        <div class="table-cell">
          Job Code <input type="text" name="job_code" value="<%= @project.job_code %>">
        </div>
        <div class="table-cell">
          Factory Settings PM <select name="pm_id">
          <% @users.each do |pm| %>
            <% if @project.pm_id && pm.id == @project.pm_id %>
              <option selected value="<%= pm.id %>"><%= pm.firstname + ' ' + pm.surname %></option>
            <% else %>
              <option value="<%= pm.id %>"><%= pm.firstname + ' ' + pm.surname %></option>
              <% end %>
          <% end %>
          </select>
        </div>
      </div>
      <div class="table-row">
        <div class="table-cell">
          Workshop Deadline <input type="date" name="workshop_deadline" value="<%= @project.workshop_deadline %>">
        </div>
        <div class="table-cell">
          Client
          <select name="client_id">
            <% @clients.each do |client| %>
              <% if @project.client && client.id == @project.client.id %>
                <option selected value="<%= client.id %>"><%= client.name %></option>
              <% else %>
                <option value="<%= client.id %>"><%= client.name %></option>
                <% end %>
            <% end %>
          </select>
        </div>
      </div>
      <div class="table-row">
        <div class="table-cell">
          On Site Deadline <input type="date" name="on_site" value="<%= @project.on_site %>">
        </div>
        <div class="table-cell">
          Site <select name="site_id">
            <% @sites.each do |site| %>
              <% if @project.site && site.id == @project.site.id %>
                <option selected value="<%= site.id %>"><%= site.name %></option>
              <% else %>
                <option value="<%= site.id %>"><%= site.name %></option>
                <% end %>
            <% end %>
          </select>
        </div>
      </div>
      <div class="table-row">
        <div class="table-cell">
          Project Summary<br>
          <textarea cols="50" rows="4" name="summary"><%= @project.summary %></textarea>
        </div>
        <div class="table-cell">
          Technical Site Requirements<br>
          <textarea cols="50" rows="4" name="technical_requirements"><%= @project.technical_requirements %></textarea>
        </div>
      </div>
    </div>
  </div><br>
  <input class="btn" type="submit" value="Save Project">
</form>
