<form class="" action="/project" method="post">
  <input type="hidden" name="project_id" value="<%= @project.id %>">
  Project Title <input type="text" name="title" value="<%= @project.title %>"><br>
  Job Code <input type="text" name="job_code" value="<%= @project.job_code %>"><br>
  Workshop Deadline <input type="date" name="workshop_deadline" value="<%= @project.workshop_deadline %>"><br>
  On Site Deadline <input type="date" name="on_site" value="<%= @project.on_site %>"><br>
  Status <select name="status">
    <% @status.each do |status| %>
      <% if status == @project.status %>
        <option selected value="<%= status %>"><%= status %></option>
      <% else %>
        <option value="<%= status %>"><%= status %></option>
        <% end %>
    <% end %>
  </select><br>
  Client <select name="client_id">
    <% @clients.each do |client| %>
      <% if @project.client && client.id == @project.client.id %>
        <option selected value="<%= client.id %>"><%= client.name %></option>
      <% else %>
        <option value="<%= client.id %>"><%= client.name %></option>
        <% end %>
    <% end %>
  </select><br>
  Site <select name="site_id">
    <% @sites.each do |site| %>
      <% if @project.site && site.id == @project.site.id %>
        <option selected value="<%= site.id %>"><%= site.name %></option>
      <% else %>
        <option value="<%= site.id %>"><%= site.name %></option>
        <% end %>
    <% end %>
  </select><br>
  <input type="submit" value="Save Project">
</form>
