<script src="js/labour.js"></script>
<%= erb :project_header %>
<br><br>
<div class="top-box">
  <a href="/project-summary?project_id=<%= @project.id %>&version_id=<%= @current_version.id %>">Go back to Cost Summary</a>
  <h3>Element Labour</h3>
<form action="/update-labour?project_id=<%= @project.id %>&version_id=<%= @current_version.id %>" method="post">
  <div class="table" id="labour-list">
    <div class="table-body">
      <div class="table-row header-row">
        <div class="table-cell" style="min-width: 200px">Element</div>
        <div class="table-cell">Our Ref</div>
        <div class="table-cell">Client Ref</div>
        <div class="table-cell">Carpentry</div>
        <div class="table-cell">Steelwork</div>
        <div class="table-cell">Scenic</div>
        <div class="table-cell">Onsite Paint</div>
        <div class="table-cell">Onsite Days</div>
        <div class="table-cell">Draughting</div>
        <div class="table-cell">PM</div>
        <div class="table-cell">Days</div>
        <div class="table-cell" style="min-width: 100px">Total Cost</div>
      </div>
    <% @current_version.elements.each do |element| %>
      <div class="table-row fade-fast" id="<%= element.id %>-row">
        <div class="table-cell grey-cell"><a href="/element?id=<%= element.id %>"><%= element.title %></a></div>
        <div class="table-cell grey-cell"><%= element.reference %></div>
        <div class="table-cell grey-cell"><%= element.client_ref %></div>
          <div class="table-cell grey-cell">
            <input class="single-digit <%=element.element_labour.id %> days" type="number" name="<%= element.element_labour.id %> carpentry" id="<%= element.id %> quantity" value="<%= element.element_labour.carpentry %>" onchange="updateLabour(<%= element.element_labour.id %>)">
            <input type="hidden" class="<%= element.element_labour.id %> rate" id="<%= element.element_labour.id %> carpentry-cost" value="<%= element.element_labour.carpentry_cost %>">
          </div>
          <div class="table-cell grey-cell">
            <input class="single-digit <%=element.element_labour.id %> days" type="number" name="<%= element.element_labour.id %> steelwork" id="<%= element.id %> quantity" value="<%= element.element_labour.steelwork %>" onchange="updateLabour(<%= element.element_labour.id %>)">
            <input type="hidden" class="<%= element.element_labour.id %> rate" id="<%= element.element_labour.id %> steelwork-cost" value="<%= element.element_labour.steelwork_cost %>">
          </div>
          <div class="table-cell grey-cell">
            <input class="single-digit <%=element.element_labour.id %> days" type="number" name="<%= element.element_labour.id %> scenic" id="<%= element.id %> quantity" value="<%= element.element_labour.scenic %>" onchange="updateLabour(<%= element.element_labour.id %>)">
            <input type="hidden" class="<%= element.element_labour.id %> rate" id="<%= element.element_labour.id %> scenic-cost" value="<%= element.element_labour.scenic_cost %>">
          </div>
          <div class="table-cell grey-cell">
            <input class="single-digit <%=element.element_labour.id %> days" type="number" name="<%= element.element_labour.id %> onsite_paint" id="<%= element.id %> quantity" value="<%= element.element_labour.onsite_paint %>" onchange="updateLabour(<%= element.element_labour.id %>)">
            <input type="hidden" class="<%= element.element_labour.id %> rate" id="<%= element.element_labour.id %> onsite_paint-cost" value="<%= element.element_labour.onsite_paint_cost %>">
          </div>
          <div class="table-cell grey-cell">
            <input class="single-digit <%= element.element_labour.id %> days" type="number" name="<%= element.element_labour.id %> onsite_day" id="<%= element.id %> quantity" value="<%= element.element_labour.onsite_day %>" onchange="updateLabour(<%= element.element_labour.id %>)">
            <input type="hidden" class="<%= element.element_labour.id %> rate" id="<%= element.element_labour.id %> onsite_day-cost" value="<%= element.element_labour.onsite_day_cost %>">
          </div>
          <div class="table-cell grey-cell">
            <input class="single-digit <%=element.element_labour.id %> days" type="number" name="<%= element.element_labour.id %> draughting" id="<%= element.id %> quantity" value="<%= element.element_labour.draughting %>" onchange="updateLabour(<%= element.element_labour.id %>)">
            <input type="hidden" class="<%= element.element_labour.id %> rate" id="<%= element.element_labour.id %> draughting-cost" value="<%= element.element_labour.draughting_cost %>">
          </div>
          <div class="table-cell grey-cell">
            <input class="single-digit <%=element.element_labour.id %> days" type="number" name="<%= element.element_labour.id %> project_management" id="<%= element.id %> quantity" value="<%= element.element_labour.project_management %>" onchange="updateLabour(<%= element.element_labour.id %>)">
            <input type="hidden" class="<%= element.element_labour.id %> rate" id="<%= element.element_labour.id %> project_management-cost" value="<%= element.element_labour.project_management_cost %>">
          </div>
          <div class="table-cell grey-cell days-total" id="<%= element.element_labour.id %> days">jsfail</div>
          <div class="table-cell grey-cell cost-total" id="<%= element.element_labour.id %> total">jsfail</div>
      </div>
      <script>updateDays(<%= element.element_labour.id %>)</script>
    <% end %>
    <div class="table-row header-row">
      <div class="table-cell"></div>
      <div class="table-cell"></div>
      <div class="table-cell"></div>
      <div class="table-cell"></div>
      <div class="table-cell"></div>
      <div class="table-cell"></div>
      <div class="table-cell"></div>
      <div class="table-cell"></div>
      <div class="table-cell"></div>
      <div class="table-cell">Total</div>
      <div class="table-cell days-total" id="days-total">jsfail</div>
      <div class="table-cell cost-total" id="cost-total">jsfail</div>
    </div>
  </div>
</div>
<br>
<% if @current_version.current_version %>
<input class="btn" type="submit" value="Save Changes">
<% end %>
</form>
</div>
<script type="text/javascript">
updateLabourTotal();
var list = document.getElementById('elements-list');
</script>
