<div class="new-user">
  <h3>Add New Project</h3>
  <form action='/new-project'>
    <input type="text" name="new" placeholder="New Project Title" size="50">
    <input class="btn" type="submit" value="Create New Project">
  </form>
</div>

<h3>Current Projects</h3>
<div class="table border">
  <div class="table-body">
    <div class="table-row header-row">
      <div class="table-cell">Title</div>
      <div class="table-cell">Workshop Deadline</div>
      <div class="table-cell">On Site Deadline</div>
      <div class="table-cell">Client</div>
      <div class="table-cell">Project Status</div>
      <div class="table-cell">Lead PM</div>
    </div>
    <% @projects.each do |project| %>
      <div class="table-row">
        <div class="table-cell"><a href="/project-labour?project_id=<%= project.id %>"><%= project.title %></a></div>
        <div class="table-cell"><%= project.workshop_deadline.strftime("%d/%m/%Y") %></div>
        <div class="table-cell"><%= project.on_site.strftime("%d/%m/%Y") %></div>
        <div class="table-cell"><%= project.client.name %></div>
        <div class="table-cell"><%= project.status %></div>
        <div class="table-cell"><%= User.get(project.user_id).firstname + " " + User.get(project.user_id).surname %></div>
      </div>
    <% end %>
  </div>
</div>
