<%= erb :report_header %>
<h3>Quotation</h3>
<div class="table">
  <% @total = 0
  @project.elements.all(:order => [ :el_order.asc ]).each do |element|
  if element.quote_include
    element_total = get_element_total(element.id)
    @total += (element_total * element.quantity) %>
      <div class="table-row">
        <div class="table-cell quotation-element" style="width: 60px">
          <%= element.client_ref %>
        </div>
        <div class="table-cell quotation-element" style="width: 700px">
          <%= element.title %>
        </div>
        <div class="table-cell quotation-element" style="width: 40px">
          £<%= sprintf('%.2f', element_total * element.quantity) %>
        </div>
      </div>
      <div class="table-row">
        <div class="table-cell" style="min-height: 180px;">
        </div>
        <div class="table-cell" style="text-align: left;">
          <%= element.notes %>
        </div>
        <div class="table-cell">
        </div>
      </div>
    <% end %>
  <% end %>
  <div class="table-row">
    <div class="table-cell quotation-element">
      Total
    </div>
    <div class="table-cell quotation-element" style="width: 700px">
    </div>
    <div class="table-cell quotation-element" style="width: 40px">
      £<%= sprintf('%.2f', @total) %>
    </div>
  </div>
</div>
<div class="t-and-c">
  * This quotation is bound by the Terms and Conditions of Factory Settings Limited. See www.factorysettings.co.uk for details
</div>
