<div class="top-box project-header">
  <img src="fs_logo_title.jpg" width="320">
</div>
<div class="hide-print top-box project-header" style=>
  <h3>Actions</h3>
  <a href="/download?type=cc&report=user_<%= session[:user_id ].to_s + '_' + @project.project.title %>_<%= @project.version_name %>_<%= @type.to_s %>.csv" style="color: #322B6A;">
    <i class="fas fa-cloud-download-alt"></i> CSV</a>
  <br>
  <div onclick="printReport()" style="color: #322B6A; cursor: pointer;"><i class="fas fa-print"></i> PRINT</div>
  <br>
  <a href="/project-summary?project_id=<%= @project.project.id %>&version_id=<%= @project.id %>">Back to Summary</a>
</div>
<h2><%= @project.project.title %></h2>
Version: <%= @project.version_name %>
<br>
<div class="top-box">
  <div class="table">
    <div class="table-row">
      <div class="table-cell report-key">
        Date:
      </div>
      <div class="table-cell">
        <%= Date.today.strftime("%d/%m%Y") %>
      </div>
      <div class="table-cell report-key">
        Status:
      </div>
      <div class="table-cell">
        <%= @project.status %>
      </div>
    </div>
    <div class="table-row">
      <div class="table-cell report-key">
        Job Code:
      </div>
      <div class="table-cell">
        <%= @project.project.job_code %>
      </div>
      <div class="table-cell report-key">
        Factory Settings PM:
      </div>
      <div class="table-cell">
        <%= @project.project.user.firstname %> <%= @project.project.user.surname %>
      </div>
    </div>
    <div class="table-row">
      <div class="table-cell report-key">
        Workshop Deadline:
      </div>
      <div class="table-cell">
        <%= @project.project.workshop_deadline.strftime("%d/%m/%Y") %>
      </div>
      <div class="table-cell report-key">
        Client:
      </div>
      <div class="table-cell">
        <%= @project.project.client.name %>
      </div>
    </div>
    <div class="table-row">
      <div class="table-cell report-key">
        On Site Deadline:
      </div>
      <div class="table-cell">
        <%= @project.project.on_site.strftime("%d/%m/%Y") %>
      </div>
      <div class="table-cell report-key">
        Site:
      </div>
        <div class="table-cell">
          <%= @project.project.site.name %>
      </div>
    </div>
  </div>
</div>
<div class="top-box">
  <img src="iso9001.png" width="87">
</div>

<script>
var printReport = function(){
  document.getElementsByClassName('menu')[0].style.display = 'none';
  var hides1 = document.getElementsByClassName('hide-print');
  for (i = 0; i < hides1.length; i++) {
    var remember1 = hides1[i].style.display
    hides1[i].style.display = 'none';
  }
  document.body.style.backgroundColor = "white"
  window.print();
  document.getElementsByClassName('menu')[0].style.display = 'table-cell';
  for (i = 0; i < hides1.length; i++) {
    hides1[i].style.display = remember1;
  }
  document.body.style.backgroundColor = "#eeeeee40"
}
</script>
