

<div class="top-box">
  <h3>Current Users</h3>
  <div class="table">
    <div class="table-body">
      <div class="table-row header-row">
        <div class="table-cell">Name</div>
        <div class="table-cell">Email</div>
        <div class="table-cell">Role</div>
        <div class="table-cell">Auth Level</div>
      </div>
      <% @users.each do |user| %>
        <div class="table-row">
          <div class="table-cell"><a href="/edit-user?id=<%= user.id %>"><%= user.firstname + " " + user.surname %></a></div>
          <div class="table-cell"><%= user.email %></div>
          <div class="table-cell"><%= user.role %></div>
          <div class="table-cell"><%= user.level%></div>
        </div>
      <% end %>
    </div>
  </div>
</div>
<% if session[:user_auth] > 2 %>
<div class="top-box">
  <h3>Add New User</h3>
  <div><%= flash[:notice] %></div>
  <form class="register-form" action="/new-user" method="post">
    <input type="text" name="firstname" placeholder="first name">
    <input type="text" name="surname" placeholder="surname"><br>
    <input type="text" name="email" placeholder="email address" size="43"><br>
    <input type="text" name="role" placeholder="role"><br>
    <input type="password" name="password" placeholder="password">
    <input type="password" name="verify_password" placeholder="verify password"><br>
    Authorised Level <select name="level">
      <option value="1">1</option>
      <option value="2">2</option>
      <option value="3">3</option>
    </select>
    <input class="btn" type="submit" name="Submit" value="submit">
  </form>
</div>
<% end %>
