<h3><%= @project.title %> Versions</h3>
<div class="table border">
  <div class="table-body">
    <div class="table-row header-row">
      <div class="table-cell">Version</div>
      <div class="table-cell">Created Date</div>
      <div class="table-cell">By</div>
      <div class="table-cell">Current</div>
      <div class="table-cell">Contracted</div>
    </div>
    <% @project.project_versions.each do |version| %>
      <div class="table-row">
        <div class="table-cell"><a href="/project-summary?project_id=<%= @project.id %>&version_id=<%= version.id %>"><%= version.version_name %></a></div>
        <div class="table-cell"><%= version.created_date.strftime("%d/%m/%Y") %></div>
        <div class="table-cell"><%= version.created_by %></div>
        <div class="table-cell"><%=  '*' if version.current_version %></div>
        <div class="table-cell"><%=  '*' if version.contracted %></div>
      </div>
    <% end %>
  </div>
</div>
<br>
<form action="/new-version" method="post">
  <input type="hidden" name="project_id" value="<%= @project.id %>">
  <input type="text" name="title" placeholder="New Version Name">
  <input class="btn" type="submit" value="Create New Version">
</form>
*NB - Will create a clone of current version
